/*IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins&display=swap');




/************************laptop-1366px width and higher**********************/

/* ===========ROOT STYLING-background, font, links etc=========== */

body {
    font-family: PT Sans, sans-serif;
    background-image: url('/images-digital_resume/Page-background.png');
    background-size: cover;
    color: #ffffff;
    /*CSS gridbox to align all the cards in the page*/
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #98D65E;
}

h2 {
    font-size: 7vh;
    text-align: center;
}

/* box-shadow effect and shape for page cards */
.box-shadow {
    box-shadow: outset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 56px;
    border-style: outset;
    border-width: 5px;
    border-color: #998a77;
    margin-top: 25vh;
    padding-bottom: 30vh;
    height: 38vh;
    background-color: #8B7D6B;
    margin-left: 7vw;
    margin-right: 7vw;
}


/* ===========NAVIGATION-BAR============= */

/* LOGO AND NABVAR*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 2vh;
    left: 2;
    right: 2vw;

    /* background image for nav-bar */
    background-image:
        linear-gradient(to bottom, rgba(255, 237, 216, 0.336), rgba(0, 0, 0, 0.336)),
        url('/images-digital_resume/Page-background.png');
    mix-blend-mode: normal;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 246, 0.705));
    width: 95vw;
    box-shadow: outset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 56px;
    border-style: outset;
    border-width: 5px;
    border-color: #998a77;
}

/* logo */
#logo {
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    width: 8%;
    height: 8%;
}

/* navbar individual items alignment */
nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 4vw;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-About {
    grid-area: 1 / 1 / 2 / 2;
}

.nav-Projects {
    grid-area: 1 / 2 / 2 / 3;
}

.nav-Education {
    grid-area: 1 / 3 / 2 / 4;
}

.nav-ContactMe {
    grid-area: 1 / 4 / 2 / 5;
}

/* ===========LANDING-PAGE============= */

/* div box positioning */
#landing-page {
    /* Background-image for landing page */

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.336), rgba(255, 237, 216, 0.336)),
        url('/images-digital_resume/hero-background.png');
    mix-blend-mode: normal;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 38vh;

    /* box shadow for hero background */
    box-shadow: outset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 56px;
    border-style: outset;
    border-width: 5px;
    border-color: #998a77;
    margin-top: 25vh;
    padding-bottom: 30vh;

    /* larger box-card dimensions than th other pages */
    margin-left: 4vw;
    margin-right: 4vw;
}

/* Landing-page-text */

#landing-page-text {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}

#landing-top {
    margin-left: 15vw;
}

/* Nwabisa mawu on title page */
h1 {
    font-size: 10vh;
    margin-left: 7vw;
    margin-right: 50vw;
    padding-left: 1vw;
    border-style: hidden hidden ridge hidden;
    border-width: 5px;
}

#introduction {
    margin-left: 7vw;
}



/* ===========About-Skills=========== */


#About-Skills {
    /* CSS grid for About-Skills */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7vw;
    margin-right: 7vw;
    background-color: #8B7D6B;
}

#About {
    margin: auto 4vw auto 3vw;
    max-width: 40vw;
}

#Skills {
    padding-left: 3vw;
    padding-bottom: 6vw;
    margin: auto auto auto 1vw;
    border-style: hidden hidden hidden double;
}



/* Skillbar for Skills section */
/* white background container */
.container {
    width: 150%;
    background-color: #ffffff;
}

.html {
    width: 60%;
    color: #98D65E;
    background-color: #98D65E;
}

.css {
    width: 78%;
    color: #98D65E;
    background-color: #98D65E;
}

.figma {
    width: 80%;
    color: #98D65E;
    background-color: #98D65E;
}





/* ===========Projects=========== */


/* Project image-links */

.project-img {
    border-radius: 10%;
    width: 20vw;
    height: 30vh;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 56px;
    border-style: inset;
    border-width: 5px;
    border-color: #998a77;
}

figcaption {text-align: center;
font-family: PT Sans, sans serif;
font-size: larger;}

/* Projects list with image links */
#project-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10vw auto auto auto;
}


/* ===========Education=========== */

/* EDUCATION flexbox paragraphs and subheadings */
#Education-positioning {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* Aligns the top of the heading and paragraph */
    align-items: baseline;
}

/* Education paragraph margins and border */
.education-paragraph {
    max-width: 30vw;
    padding-left: 1.5vw;
    padding-bottom: 10vw;
    margin-right: 2vw;
    border-color: #ffffff;
    border-style: none none none ridge;
}


/* ===========Contact details/footer=========== */

/* flexbox for alignment of contact section and logo+social links */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
}


form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: -5%;
}

/* standardized size for the message textbox according to its container */
textarea {
    width: 100%;
    background-color: #8B7D6B;
    color: #ffffff;
    margin-left: 6%;
    border: 3px solid #8B7D6B;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* align message block with submit button using flexbox*/
#message-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1%;
    padding-bottom: 2%;
}

#Contact-me {
    width: 60%;
    height: 177%;
    border-radius: 56px 0px 0px 56px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(255, 218, 185, 0.5);
}

/* box shadow on borders of text blocks */
input {
    width: 100%;
    color: #ffffff;
    background-color: #8B7D6B;
    border: 3px solid #8B7D6B;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* BUTTON LOOK */
button {
    background-color: #8B7D6B;
    color: #ffffff;
    border-color: #8B7D6B;
    border-radius: 56px;
    padding: 1% 1% 1% 1%;
    width: 35%;
    font-family: PTSans, sans serif;
    font-size: 100%;
}

/* created to set button the right */
#button-align {
    text-align: center;
}

button:hover {
    background-color: #98D65E;
    border-color: #98D65E;
}


#logo_socials {
    /* flexbox to align logo and icons */
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 10%;
    height: 177%;
    border-style: hidden hidden hidden groove;
    border-color: #ffffff;
    border-width: 0.2vw;
}

/* placement for individual social icons and descriptive text  */
.social-links {
    padding: 1% 0% 1% 0%;

    /* used CSSgrid to align text and icons because 
    they won't need to be changed */
    display: grid;
    grid-template-columns: 1fr 10fr;
}


#card-logo {
    width: 65%;
    padding-top: 5%;
}
















/***************************************************Tablet-landscape: 768px <= width < 1366px*************************** */

@media screen and (max-width:768px) {
    form {
        text-align: center;
    }

    /* Skills-list */
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


}






/***************************************************Mobile-portrait: 425px <= width < 768px*************************** */

@media screen and (max-width:425px) {
    #project-list {
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    form {
        text-align: center;
    }

}